<br>
<nav class="navbar navbar-expand">
  <a style = "color: inherit; border: 1px solid black; text-decoration: none" href="/">HOME</a>
  <a style = "color: inherit; border: 1px solid black; text-decoration: none" href="/places">PLACES</a>
  <a style = "color: inherit; border: 1px solid black; text-decoration: none" href="/packinglist">PACKING LIST</a>
</nav>
<br>
