<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include ./partials/head.ejs %>
    <title>Pocket Guide: Home</title>
  </head>
  <body>
    <h1>Pocket Guide</h1>
    <% include ./partials/navbar.ejs %>

    <div class="place">
      <h3>Welcome to Pocket Guide, your travel buddy!</h3>
      <br>
      <p>Use Pocket Guide to help you plan your trip, make a packing list, and more! </p>
    </div>

    <div style="width: 500px; height:400px; margin:auto; border: 1px solid red; position:relative">
      <ul style="overflow: scroll; height:322px;"id="messages"></ul>
      <form id="chat" style="position:absolute; bottom:0;"action="">
        <input id="name" autocomplete="off" placeholder="name"/>
        <input id="m" autocomplete="off" /><button>Send</button>
      </form>
    </div>

  </body>
</html>
