<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include ./partials/head.ejs %>
    <title>Pocket Guide: Home</title>
  </head>
  <body>
    <h1>Pocket Guide</h1>
    <% include ./partials/navbar.ejs %>

  </body>
</html>
