<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include ./partials/head.ejs %>
    <title>Pocket Guide: Home</title>
  </head>
  <body>
    <h1>Pocket Guide</h1>
    <% include ./partials/navbar.ejs %>

    <div class="place">
      <h3>Welcome to Pocket Guide, your travel buddy!</h3>
      <br>
      <p>Use Pocket Guide to help you plan your trip, make a packing list, and more! </p>
    </div>

  </body>
</html>
