<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include ./partials/head.ejs %>
    <title>Pocket Guide: Places</title>
  </head>
  <body>
    <h1>Places</h1>
    <% include ./partials/navbar.ejs %>

    <form method='POST' action='/places'>
      <input name='country' type='text' placeholder='Country' />
      <input name='city' type='text' placeholder='City' />
      <input name='name' type='text' placeholder='Place' />
      <input name='url' type='text' placeholder='Website' />
      <input type='submit' value='Add it!' />
    </form>
    <br>
    <div class="board">
        <% templatePlaces.forEach((place) => {%>
          <div class ="place">
              <h3><%=place.name%></h3>
              <h4><%=place.city%>, <%=place.country%></h4>
              <a href="/places/<%=place._id%>">View More</a>
          </div>
          <br>
        <%})%>
      </div>

      <div id="window">
        <ul id="messages"></ul>
        <form id="form" action="">
          <input id="name" autocomplete="off" placeholder="name"/>
          <input id="m" autocomplete="off" /><button>Send</button>
        </form>
      </div>

  </body>
</html>
