<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pocket Guide: Weather</title>
    <% include ./partials/head.ejs %>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Raleway|Titan+One" rel="stylesheet">
  </head>
  <body style="background: #D2E8E7;text-align:center;">
    <h1 style="font-family: 'Titan One', cursive;color: white;font-size: 100px;margin:0px;text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Weather</h1>
    <br>
    <nav style="font-family: 'Raleway', sans-serif;color: white;font-size: 30px;margin: 0px 10px;text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">
      <a style="color: inherit" href="/">HOME</a>
      <a style="color: inherit" href="/places">PLACES</a>
      <a style="color: inherit" href="/packinglist">PACKING LIST</a>
      <a style="color: inherit" href="/weather">WEATHER</a>
    </nav>
    <br>

    <div class="weather">
      <a href="https://www.accuweather.com/en/us/new-york-ny/10007/weather-forecast/349727" class="aw-widget-legal">
        <!--
        By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy.
        -->
      </a><div class="aw-widget-36hour"  data-locationkey="" data-unit="f" data-language="en-us" data-useip="false" data-uid="awtd1525804709536" data-editlocation="true"></div>
      <script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
    </div>

  </body>

</html>
